php_flag display_errors off

RewriteEngine on
RewriteRule ^(cookie\.js)$ cookie.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ track.php?track_request=$1 [L,QSA]